html{
  background-color: rgba(197, 60, 55, 0.95);
  color: #323D4A;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
}

.mobile{
	display: none;
}

@media only screen and (max-width: 1450px){
	html{
	  font-size: 12px;
	}
}

@media only screen and (max-width: 1110px){
	html{
	  font-size: 8px;
	}

	p{
	  transition: font-size 75ms ease-in-out;
	}

	p:hover{
	  font-size: 2.5rem;
	}

	.infos p:hover{
      font-size: 2.5rem;
	}

	.infos p{
	  transition: font-size 75ms ease-in-out;
	}

	.side p:hover{
	  font-size: 2.5rem;
	}

	.side p{
      transition: font-size 75ms ease-in-out;
	}

}


h1{
	font-size: 4rem;
	font-weight: 800;
	color: #2D5F73;
}

h3{
	font-size: 2.5rem;
	font-weight: thin;
	color: #2D5F73;
}

p{
	font-family: "Crimson Text";
	color: #576A7F;
}

a{
	color: #F2D1B3;
	text-decoration: none;
}

img{
	border-radius: 1.5rem;
}

.container{
	height: auto;
	overflow: hidden;
}

header{
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 4rem;
	background-color: rgba(197, 60, 55, 0.95);
}

nav{
	display: flex;
	margin-left: auto;
	margin-right: 0rem;
}

nav h2{
	margin: 0px 2rem;
}

header .container {
  width: auto;
  height: 4rem;
  overflow: hidden;
}

header .container img {
  max-width: auto;
  height: 100%;
  display: block;
}

header h1{
	font-size: 1.25rem;
	font-weight: bold;
	color: #F2D1B3;
}

header span{
	font-size: 1.25rem;
	font-weight: bold;
	color: #1F414F;
}

i{
	transition: color 100ms ease-in-out;
}

i:hover{
	color: rgb(255, 78, 71);
}

@media only screen and (max-width: 740px){
	html{
		font-size: 10px;
	}
	header h1, header span, #companies{
		display: none;
	}

	header nav{
		margin: 0 0 0 2rem;
	}

	header{
		justify-content: center;
	}

	i{
		color: black;
	}
}


.jumbotron{
	display: flex;
	background-color: #F2D1B3;
}

.jumbotron.one{
	padding-top: 4rem;
}


.jumbotron .container{
	width: 60%;
	padding: 2rem 1.5rem;
}

.jumbotron .container img{
	min-width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 1.5rem;
}

.side {
	display: flex;
	flex-direction: column;
	width: 40%;
	height: auto;
	align-items: flex-start;
	justify-content: center;
	padding: 2rem 0;
}

.side .everyday{
	width: 65%;
	margin-left: 1rem;
}

button span{
	font-size: 2rem;
	margin: 0.5rem 0px;
	color: #F2D1B3;
}

.side p{
	font-size: 2rem;
	padding: 2rem 0;
	font-family: 'Crimson Text'
}

.side button{
	width: 100%;
	height: 4rem;
	padding: 0.5rem 0;
	background-color: rgba(197, 60, 55, 0.95);
	border-radius: 1.5rem;
	transition: background-color 100ms ease-in-out;
}

button:hover{
	background-color: rgb(255, 78, 71);
}

@media only screen and (max-width: 740px){
	.jumbotron{
		flex-direction: column;
	}

	.jumbotron .container{
		width: 97%;
		padding: 2rem 1rem;
	}

	.side{
		width: 95%;
		align-items: center;
	}

	.desktop{
		display: none;
	}

	.mobile{
		display: block;
	}
}

/* Second Jumbotron */

.jumbotron.two{
	background-color: #F2B8A2
}

.jumbotron.two a{
	color: #2D5F73;
}

.hurt h1{
	margin-top: 2rem;
	margin-bottom: 1.5rem;
	color: #1F414F;
}

.hurt p{
	margin-bottom: 1.5rem;
	color: #1F414F;
}

.side.two{
	justify-content: space-between;
}

.infobox{
	display: inline-flex;
    width: 95%;
    align-items: flex-start;
    min-width: 95%;
    max-width: 95%;
    height: auto;
    min-height: 30%;
	margin-bottom: 1rem;
	margin-left: 1rem;
	background-color: #F2D1B3;
	border-radius: 1.5rem;
}

.infobox .container{
	min-width: 35%;
	max-width: 35%;
	padding-left: 2rem;
}

.infobox .container img{
	width: 100%
	height: auto;
	display: block;
}

.infobox .infos{
	display: flex;
	flex-direction: column;
	flex-shrink: 2;
	overflow: hidden;
	width: 50%;

	max-width: 50%;
	height: 60%;
	margin: 2rem 1rem;
}

.infobox p, a{
	font-size: 1.5rem;
}

.infobox a{
	transition: color 100ms ease-in-out;
}

.infobox a:hover{
  color: rgb(255, 78, 71);
}

@media only screen and (max-width: 740px){
	#man{
		display: none;
	}

	.infobox{
		display: flex;
		flex-direction: column;
	}

	.infobox .container{
		padding: 0;
		max-width: 100%;
		min-width: 100%;
	}

	.jumbotron.two{
		align-items: center;
	}
}

/*Courses part */
.courses{
	background-color: #F2D1B3;
	padding-bottom: 2rem;
}

.courses h1{
	padding: 2rem 0;
	text-align: center;
}

.a_course{
	min-width: 30%;
	max-width: 30%;
	display: flex;
	flex-direction: column;
	background-color: #F2B8A2;
	border-radius: 1.25rem;
}

.courses_display{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 4rem;
}

.row{
	display: inline-flex;
	justify-content: space-between;
}

.row.one{
	margin-bottom: 1rem;
}

.row.two{
	margin-top: 1rem;
}

.a_course img{
	width: 100%
}

.a_course .infos{
	padding: 1rem 1rem;
}

.infos h4, p{
	font-size: 1.5rem;
	padding: 0.5rem 0;
	color: #1F414F;
}

.a_course h3{
	color: #1F414F;
}

@media only screen and (max-width: 740px){
  .illustration{
  	display: none;
  }

  .courses_display .infos h4, .courses_display .infos p {
  	display: none;
  }

  .row{
  	flex-direction: column;
  }

  .row.one{
  	margin-bottom: 0;
  }

  .row.two{
  	margin-top: 0;
  }

  .a_course{
    min-width: 100%;
    max-width: 100%;
  	margin: 0 0 1rem 0;

  }

  .a_course:hover .infos p{
  	display: block;
  }

  .a_course .infos p{
  	transition: display 100ms ease-in-out;
  }


}
/*Styling the Thesis part */

.exhibit{
	text-align: center;
	padding: 2rem 0;
	background-color: #F2B8A2;
}

.exhibit h1{
	color: #1F414F;
}

video{
	width: 100%;
	height: auto;
}

.urban h3, p{
	color: #1F414F;
	padding-top: 1rem;
}

.jumbotron.four{
	background-color: #F2B8A2;
}

.jumbotron.four .infobox .container{
	min-width: 28%;
	max-width: 28%;
}


.jumbotron.four .container h3{
	padding-bottom: 0.5rem;
}

.side.four{
	justify-content: flex-start;
}

@media only screen and (max-width: 740px){
	.side.four{
	    display: none;
	}
}

footer{
	display: flex;
	align-items: center;
	background-color: rgba(197, 60, 55, 0.95);
	padding-left: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

footer p{
	color: #F2D1B3;
}

@media only screen and (max-width: 480px){
	footer nav{
	    display: none;
	}

	footer{
        justify-content: center;
	}
}