html{
  background-color: #AED3FF;
  color: #323D4A;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
}


h1{
	font-size: 2.5rem;
	font-weight: 800;
}

h3{
	font-size: 2rem;
	font-weight: thin;
}

p{
	font-family: "Crimson Text";
	color: #576A7F;
}

a{
	color: #9CBEE5;
}

img{
	border-radius: 1.5rem;
}

.container{
	height: auto;
	overflow: hidden;
}

.infos{
	margin: 1rem 0 1.5rem 1rem;
}

header{
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
	height: 4rem;
	background-color: rgba(87, 106, 127, 0.95);
}

nav{
	display: flex;
	margin-left: auto;
	margin-right: 2rem;
}

nav h2{
	margin: 0px 0.5rem;
}

header .container {
  width: auto;
  height: 2rem;
  overflow: hidden;
}

header .container img {
  max-width: auto;
  height: 100%;
  display: block;
}

header h1{
	font-size: 1rem;
	font-weight: bold;
	color: #9CBEE5;
}

header span{
	font-weight: thin;
}


.jumbotron{
	display: flex;
	background-color: #AED3FF;
}

.jumbotron.one{
	padding-top: 4rem;
}


.jumbotron .container{
	width: 60%;
	height: auto;
	overflow: hidden;
	padding: 2rem 1.5rem;
}

.jumbotron .container img{
	min-width: 100%;
	max-width: 100%;
	height: auto;
	display: block;
	border-radius: 1.5rem;
}

.side {
	display: flex;
	flex-direction: column;
	width: 40%;
	align-items: flex-start;
	justify-content: center;
	padding: 2rem 0;
}

.side .everyday{
	width: 65%;
	margin-left: 1rem;
}

button span{
	font-size: 2rem;
	margin: 0.5rem 0px;
	color: #9CBEE5;
}

.side p{
	font-size: 2rem;
	padding: 2rem 0;
	font-family: 'Crimson Text'
}

.side button{
	width: 100%;
	height: 4rem;
	padding: 0.5rem 0;
	background-color: rgba(87, 106, 127, 0.95);
	border-radius: 1.5rem;
}

.jumbotron.two{
	background-color: #9CBEE5
}

.hurt h1{
	margin-top: 2rem;
	margin-bottom: 1.5rem;
}

.hurt p{
	margin-bottom: 1.5rem;
}

.side.two{
	justify-content: space-between;
	align-items: flex-start;
	width: 40%;
}

.infobox{
	display: inline-flex;
    width: 95%;
    max-width: 95%; 
	margin-bottom: 1rem;
	margin-left: 1rem;
}

.infobox .container{
	width: 35%;
	height: auto;
	overflow: hidden;
	padding: 0;
}

.infobox .container img{
	width: 100%
	height: auto;
	display: block;
}

.infobox .infos{
	width: 65%;
	margin-left: 1rem;
}

.infobox p, a{
	font-size: 1.5rem;
}

/*Courses part */

.courses h1{
	padding: 2rem 0;
	text-align: center;
}

.courses_display{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 4rem;
}

.row{
	display: inline-flex;
	justify-content: space-between;
}

.row.one{
	margin-bottom: 1rem;
}

.row.two{
	margin-top: 1rem;
}

.a_course{
	min-width: 30%;
	max-width: 30%;
}

.a_course img{
	width: 100%
}

.infos h4, p{
	font-size: 1.5rem;
	padding: 0.5rem 0;
}
/*Styling the Thesis part */

.exhibit{
	text-align: center;
	padding: 2rem 0;
	background-color: #9CBEE5;
}

video{
	width: 100%;
	height: auto;
}

.jumbotron.four{
	background-color: #9CBEE5;
}

.jumbotron.four .container div{
	padding: 1.5rem 0 2rem 0;
}

.jumbotron.four .container h3{
	padding-bottom: 0.5rem;
}

.side.four{
	justify-content: flex-start;
}

footer{
	display: flex;
	align-items: center;
	background-color: #829FBF;
	padding-left: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}