html{
  background-color: grey;
  color: black;
}

div{
	border: 1px solid blue;
}

header{
	display: flex;
	align-items: center;
	height: 64px;
	background-color: white;
}

nav{
	display: flex;
	margin-left: auto;
	margin-right: 16px;
}

nav h2{
	margin: 0px 8px;
}

header .container {
  width: auto;
  height: 32px;
  overflow: hidden;
}

header .container img {
  max-width: auto;
  height: 100%;
  display: block;
}

header h1{
	font-weight: bold;
}

header span{
	font-weight: thin;
}


